# Ignore files generated during development
*.log
*.tmp

# Ignore build and output directories
node_modules
dist
build/
out/

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore local configuration files
.env